/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";
@import "fonts/Avenir";

$black: #000;
$white: #fff;
$hoverColor: #0ff;

html{font-size: 62.5%;}
body,html{
	width:100%;
	height:100%;
	@include experimental(font-smoothing, antialiased);
	@include experimental(user-select, none);
	font-family: $Avenir-Medium;
	color:$black;
}

#content-container{
	position:fixed;
	left:50%;
	top:50%;
	
	transform: translate(-50%,-50%);

	h1#heading{
		text-align: left;
		font-size:4rem;
		line-height: 100%;
		text-transform: uppercase;
		background-color:$white;
		padding:.3rem;
	}
	#main-menu{
		text-align: left;
		margin-top:.2rem;
		font-size:1.8rem;
		a{
			display:inline-block;
			text-decoration: none;
			color:$black;
			background-color:$white;
			padding:.3rem;
			text-transform: uppercase;

			&::after{
				content: "/";
				margin-left:.6rem;
				margin-right:.3rem;
			}
			&:last-of-type{
				&::after{
					content:'';
					margin:0 0 0 0;
				}
			}
			&:hover{
				color:$hoverColor;
				&::after{
					color:$black;
				}
			}
		}
	}
	#work-sub-menu{
		// display:none;
		&.active{
			display:block;
		}
		a{
			font-size:1.2rem;
			text-transform: uppercase;
			display:inline-block;
			background-color:$white;
			margin-top:.5rem;
			float:left;
			clear:both;
			text-decoration: none;
			padding:0.3rem;
			padding-left:0rem;
			color:$black;
			&::before{
				content: "/";
				display:inline-block;
				width:0px;
				rotation:90deg;
				overflow:hidden;
				transition: width 0.1s ease-in-out;
				padding:0 0 0 0;
				margin: 0 0 0 0;
			}
			&:hover{
				color:$hoverColor;
				
				&::before{
					width:1rem;
					rotation:0deg;
					transition: width 0.1s ease-in-out;	
				}
			}
		}
	}
}