doctype html
html(lang="en" ng-app="ngAppStrict" ng-strict-di="true")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='/css/screen.css')
		link(rel='shortcut icon', href='/favicon.ico?v=2')
		script(type='text/javascript', src="/js/app.js")
		title
			|Selected Work From Jeramy Morrill
	body
		#content-container(ng-controller="MenuCtrl")
			section.header
				//- h1 {{a}}
				h1#heading Jeramy Morrill
				#main-menu
					a(href="/Work") Work
					a(href="/Installations") Installations
					a(href="/About") About
				#work-sub-menu
					a(href="/sony-seperate-together" ng-repeat="project in projects") 
						|{{project.clientName}}: {{project.projectName}}
			section.content
