doctype html
html(lang="en" ng-app="ngAppStrict" ng-strict-di="true")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='/css/screen.css')
		link(rel='shortcut icon', href='/favicon.ico?v=2')
		script(type='text/javascript', src="/js/app.js")
		title
			|Selected Work From Jeramy Morrill
	body
		canvas#main-background-display(width="1680" height="1050" ng-controller="CanvasCtrl" displaybackground resizebackground)
		#content-container(ng-controller="MenuCtrl")
			section.header
				h1#heading Jeramy Morrill
				#main-menu
					a(href="/Work" togglevisible="#work-sub-menu") Work
					a(href="/Installations" togglevisible="#instillation-sub-menu") Installations
					a(href="/Installations" togglevisible="#apps-sub-menu") Apps
					a(href="/About" showpreview="boo") About
				#work-sub-menu.sub-menu
					.inner
						a(href="#/sony-seperate-together" ng-repeat="project in getProjectsByType('website')" showpreview="{{project.projectId}}") 
							|{{project.clientName}}: {{project.projectName}}
				#instillation-sub-menu.sub-menu
					.inner
						a(href="#/sony-seperate-together" ng-repeat="project in getProjectsByType('intallation')"  showpreview="{{project.projectId}}") 
							|{{project.clientName}}: {{project.projectName}}
				#apps-sub-menu.sub-menu
					.inner
						a(href="#/sony-seperate-together" ng-repeat="project in getProjectsByType('app')"  showpreview="{{project.projectId}}") 
							|{{project.clientName}}: {{project.projectName}}
			section.content

