doctype html
html(lang="en" ng-app="ngAppStrict" ng-strict-di="true")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='/css/screen.css')
		link(rel='shortcut icon', href='/favicon.ico?v=2')
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(type='text/javascript', src="/js/app.js")
		title
			|Selected Work From Jeramy Morrill
	body
		div(ng-controller="CanvasCtrl")
			canvas#main-background-display(width="1680" height="1050" displaybackground resizebackground)
		#content-container(ng-controller="MenuCtrl")
			section.header.show-mobile(showmobilemenu)
				#menu-button
				h1#heading Jeramy Morrill
				#menu-container
					#main-menu
						a(href="/Web" togglevisible="#work-sub-menu") Web
						a(href="/Installations" togglevisible="#instillation-sub-menu") Installations
						a(href="/Apps" togglevisible="#apps-sub-menu") Apps
						a(href="/#/about") About
					#work-sub-menu.sub-menu
						.inner
							a(href="#/work/{{project.projectId}}" ng-repeat="project in getProjectsByType('website')" showproject="{{project.projectId}}" showpreview="{{project.projectId}}") 
								|{{project.clientName}}: {{project.projectName}}
					#instillation-sub-menu.sub-menu
						.inner
							a(href="#/work/{{project.projectId}}" ng-repeat="project in getProjectsByType('installation')" showproject="{{project.projectId}}" showpreview="{{project.projectId}}") 
								|{{project.clientName}}: {{project.projectName}}
					#apps-sub-menu.sub-menu
						.inner
							a(href="#/work/{{project.projectId}}" ng-repeat="project in getProjectsByType('app')" showproject="{{project.projectId}}" showpreview="{{project.projectId}}") 
								|{{project.clientName}}: {{project.projectName}}
			section.content(ng-controller="WorkCtrl")
				ng-view

