doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='/css/screen.css')
		link(rel='shortcut icon', href='/favicon.ico?v=2')
		script(type='text/javascript', data-main="/javascripts/app.js", src="/javascripts/lib/require.js")
		title
			|Selected Work From Jeramy Morrill
	body
