#About.content-area
	
	.row
		h1 About Me
		img(src="img/about/glasses.png")
	.row
		p I am an intensely dedicated developer and designer with a passion for interactive. During my agency experience over the past 14 years, I’ve developed a varied skill set – everything from programming to animation to design – that makes me uniquely able to understand and execute client projects that succeed. Sites that I’ve directed not only look amazing, they function seamlessly. This attention to every aspect of a site, banner, or app has given me a track record that speaks for itself. 
		p I stay on the cutting edge of design and development, and love to experiment with new forms of interaction using the latest tools and gadgets. Few things bring me as much satisfaction as coming up with a completely new and creative solution to an interactive puzzle, whether it’s the best way to manage a client’s requests, or an algorithm to help an app run more smoothly.
	.row.exit-links
		a(href="mailto:jeramy.morrill@gmail.com" target="_blank") + Email
		a(href="bin/files/resume.pdf" target="_blank") + Resume
		a(href="https://www.linkedin.com/in/versionthirteen" target="_blank") + LinkedIn
		a(href="https://github.com/theceremony" target="_blank") + GitHub
		a(href="https://github.com/theceremony/portfolio2015" target="_blank") + This Site Repo
	.row.exit-links.hidden-links
		a(href="https://www.youtube.com/watch?v=h8fYaTSOuo0" target="_blank") + Ginger Beard
