#Work.content-area
	.row
		div(ng-if="project.videoUrl")
			iframe#large-video(ng-src="{{project.videoUrl}}", frameborder="0",webkitallowfullscreen="", mozallowfullscreen="", allowfullscreen="" width="500", height="281")
		div(ng-if="!project.videoUrl")
			#large-thumbnail
				img(ng-src="/img/work/{{project.mediaFolder}}/main.jpg")
	.row
		h3 {{project.clientName}}
		h1 {{project.projectName}}
		h4 {{project.projectSubHead}}
	.row
		p {{project.content.header.copy}}
	.row.awards(ng-if!="project.content.awards.length > 0")
		div.award(ng-repeat="award in project.content.awards" class="{{award.name}}")

	